{% extends "emails/base.html" %}

{% block title %}{{ newsletter_title }}{% endblock %}

{% block content %}
<h1 class="greeting">{{ newsletter_title }}</h1>

<div class="content">
    <p>Hi {{ user_name }},</p>
    
    {{ newsletter_content|safe }}
    
    <hr class="divider">
    
    <p style="font-size: 14px; color: #718096;">
        You're receiving this because you subscribed to our newsletter. 
        <a href="{{ unsubscribe_url }}" style="color: #667eea;">Unsubscribe</a>
    </p>
</div>
{% endblock %}
